.btn-ellipsis {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  border: none;
  background: transparent;
  transition: 0.4s ease;
  top: 10px;
  right: 15px;
  width: 35px;
  height: 35px;
  font-size: 24px;
  cursor: pointer;
}

.btn-ellipsis:hover,
.btn-ellipsis:focus {
  background: #b1b6bb52;
  color: var(--font-color-4);
}

.btn-ellipsis:focus + ul.dropdown-list,
ul.dropdown-list.show {
  opacity: 1;
  bottom: 0;
  display: block;
  visibility: visible;
  box-shadow: 2px 2px 7px 0px rgb(0 0 0 / 50%);
}

ul.dropdown-list {
  display: none;
  z-index: 10;
  list-style-type: none;
  position: absolute;
  opacity: 0;
  top: 52px;
  right: 15px;
  background-color: #f7f7f7;
  padding: 0;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: none;
  visibility: hidden;
  height: fit-content;
  transition: visibility 0.2s, opacity 0.2s linear, bottom 0.2s linear,
    box-shadow 0.2s linear;
}

ul.dropdown-list li.dropdown-item:first-of-type {
  border-radius: 10px;
}

ul.dropdown-list li.dropdown-item:first-child {
  border-radius: 10px 10px 0 0;
}

ul.dropdown-list li.dropdown-item:last-child {
  border-radius: 0 0 10px 10px;
}

li.dropdown-item {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  padding: 0.8rem 1rem;
  transition: background-color 0.2s linear, color 0.2s linear;
}

li.dropdown-item:hover {
  background-color: #b8c1ce77;
  color: var(--font-color-4);
}

i {
  font-size: 22px;
}
