.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: var(--bg-color-4);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 30px;
  width: 55px;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 26px;
  width: 26px;
  transform: translateX(0px);
  transition: transform 0.25s ease;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}
