.categories {
  padding: 0.8rem 1rem;
}

.cards {
  grid-template-columns: repeat(2, 1fr);
}

.navigation .top {
  position: sticky;
  top: 6rem;
  z-index: 10;
}

@media (max-width: 480px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
