.saved {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.saved .title {
  font-size: 36px;
  font-weight: 600;
  color: var(--font-color-1);
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  width: 100%;
  max-width: 100%;
  gap: 1rem;
  margin: 1rem 0 0 0;
  height: fit-content;
}

.card-resource {
  position: relative;
  padding: 1rem;
  background: var(--bg-card-2);
  border-radius: 2rem;
  min-width: 50%;
  height: 250px;
  max-height: 250px;
  -webkit-transition: 0.33s ease;
  -ms-transition: 0.33s ease;
  -moz-transition: 0.33s ease;
  transition: 0.33s ease-in;
}

.card-resource:hover {
  box-shadow: 0px 3px 15px #00000050;
  -webkit-transition: 0.33s ease;
  -ms-transition: 0.33s ease;
  -moz-transition: 0.33s ease;
  transition: 0.33s ease;
}

.card-resource picture {
  background: var(--bg-card-gradient-2);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.card-resource picture img {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  border-radius: inherit;
  object-fit: cover;
}

.card-resource .card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0.8rem;
  text-shadow: var(--text-shadow-color) 2px 0px 0px,
    var(--text-shadow-color) 1.75517px 0.958851px 0px,
    var(--text-shadow-color) 1.0806px 1.68294px 0px,
    var(--text-shadow-color) 0.141474px 1.99499px 0px,
    var(--text-shadow-color) -0.832294px 1.81859px 0px,
    var(--text-shadow-color) -1.60229px 1.19694px 0px,
    var(--text-shadow-color) -1.97998px 0.28224px 0px,
    var(--text-shadow-color) -1.87291px -0.701566px 0px,
    var(--text-shadow-color) -1.30729px -1.5136px 0px,
    var(--text-shadow-color) -0.421592px -1.95506px 0px,
    var(--text-shadow-color) 0.567324px -1.91785px 0px,
    var(--text-shadow-color) 1.41734px -1.41108px 0px,
    var(--text-shadow-color) 1.92034px -0.558831px 0px;
}

.card-resource .card-content .card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fffffe;
  font-size: 26px;
  font-weight: 600;
  text-decoration: none;
}

.card-resource .card-content .card-title:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .main-wrapper {
    grid-template-columns: 100%;
  }
}

@media (max-width: 480px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
